.navbar {
    padding-left: 200px;
    padding-right: 100px;
}

body {
    background-color: rgb(64, 64, 64);
}

#menu {
    height: 80px;
    font: 20px Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(199, 33, 66), rgb(28, 91, 134));
    filter: drop-shadow(0 5px 10px black);
}

#menu ul{
    padding-top: 10px;
    list-style: none;
    padding-left: 200px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    /* visual do link */
    color: white;
    text-decoration: none;
}

#logo {
    filter: drop-shadow(0 5px 10px black);
}

#user {
    padding-left: 350px;
}

#cart {
    padding-left: 50px;
}

#map {
    filter: drop-shadow(0 5px 5px black);
}

#bottom {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 200px;
}

.leftContent {
    margin-right: 100px;
}

.contentTop {
    border-radius: 10px;
    filter: drop-shadow(0 10px 5px black);
    margin-left: 50px;
}

.contentBop {
    border-radius: 10px;
    margin-top: 20px;
    filter: drop-shadow(0 10px 5px black);
    margin-left: 50px;
}